$bg_nav: rgb(28, 28, 28);
$bg: rgb(21,25,36);
$a: rgb(254,254,254);
$a_active: rgb(41,125,255);
$a_hover: rgb(159,155,172);
$title: 1.5rem;
$subTitle: 1.3rem;
$contents: 1.1rem;
$t1: rgb(255,255,255);
$t2: rgb(0,91,235);

//font size & color
.titleTop{
  font-size: 2.2rem;
  font-weight: bolder;
}
.title {
  font-size: 2.1rem;
  padding-bottom: 1.6rem;
  font-weight: bold;
}
.subTitle {
  font-size: 1.7rem;
  // padding-bottom: 1rem;
}
.contents {
  font-size: 1.5rem;
  // margin-bottom: 0;
}
.blue {
  color: rgb(0,91,235);
  font-weight: bolder;
}
// 전체 layout을 margin %로 제어
.box {
  margin: 3rem 10% 1.5rem 10%;
  padding: 3rem;
  border-radius: 1rem;
    @media (max-width:575px) { 
      margin: 0; 
      padding-left: 8%;
      padding-right: 8%;
      border-radius: 0; }  
    @media (min-width:576px) and (max-width:767px ) { 
      margin-left: 8% ;
      margin-right: 8%;  } 
}
.box:nth-child(odd) {
  background-color: rgb(36,39,46); 
}
.box:nth-child(even) {
  background-color: rgb(42,45,54); 
}

//pointer
.pointer {  font-size: 1rem; }
.pointSize {  width: 4rem; }
.pBox {
  margin-top: -3rem;
    @media (max-width:575px) {  margin-top: 1rem;}
  // @media (min-width:576px) and (max-width:767px) {  margin-top: -2rem; }
  // @media (min-width:768px) and (max-width: 991px) {  margin-top: -2rem; }
  // @media (min-width:992px) and (max-width: 1199px) {  margin-top: -2rem; }
}


//image
//imageBox 에 크기 지정->변경/ img 에는 %로 지정
// .imgSize1 {  width: 50%; }
// .imgBox2 {
//   width: 14rem;
//   height: 14rem;
//   object-fit: contain;
//   @media (max-width:575px) { width: 6rem; height: 6rem; text-align: end; }
//   @media (min-width:576px) and (max-width:767px) { width: 9rem; height:9rem; text-align: end;}
//   @media (min-width:768px) and (max-width:991px) { width: 11rem; height:11rem; text-align: end;}
// }  
// .imgSize2 {
//   width: 100%;
//   height: 100%;
// }
.imgBox3 {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  @media (max-width:575px) { 
    width: 15rem;
    height: 15rem;
  }
}  
.imgSize3 {
  @media (max-width:575px) { width: 55%; height: 55%;   }
  @media (min-width:576px) and (max-width:767px) { width: 32%; height: 32%;}
  @media (min-width:768px) and (max-width: 991px) { width: 40%; height: 40%; }
  @media (min-width:992px) and (max-width: 1199px) { width: 37%; height: 37%; }
  @media (min-width:1200px) { width: 30%; height: 30%; }
}
#if {
  text-align: center;
  @media (max-width:575px) {   }
  @media (min-width:576px) and (max-width:767px) { width: 70%; height: 22vh}
  @media (min-width:768px) and (max-width: 991px) { width: 80%; height: 27vh; }
  @media (min-width:992px) and (max-width: 1199px) { width: 80%; height: 30vh; }
  @media (min-width:1200px) { width: 70%; height: 32vh; }
}