$bg_nav: rgb(28, 28, 28);
$bg: rgb(21,25,36);
$a: rgb(254,254,254);
$a_active: rgb(41,125,255);
$a_hover: rgb(159,155,172);
$title: 1.5rem;
$subTitle: 1.3rem;
$contents: 1.1rem;
$t1: rgb(255,255,255);
$t2: rgb(0,91,235);

//font size & color
.titleTop{
  font-size: 2.3rem;
  font-weight: bolder;
}
.title {
  font-size: 2.1rem;
  padding-bottom: 1.6rem;
  font-weight: bold;
}
.subTitle {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.contents {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.blue {
  color: rgb(0,91,235);
  font-weight: bolder;
}
.box {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.box:nth-child(odd) {
  background-color: rgb(21,25,36);;
}
.box:nth-child(even) {
  background-color: rgb(45,48,57) ;
}

//pointer
.pointer {  font-size: 1rem; }
.pointSize {  width: 4rem; }
.pBox {
  margin-top: -3rem;
  padding-right: 3rem;
  @media (max-width:575px) {  margin-top: -2rem; margin-bottom: 0;}
  @media (min-width:576px) and (max-width:767px) {  margin-top: -2rem; }
  @media (min-width:768px) and (max-width: 991px) {  margin-top: -2rem; }
  @media (min-width:992px) and (max-width: 1199px) {  margin-top: -2rem; }
}

// 전체 내용의 가로 사용률 layout
.smallBox {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 75%;
  @media (max-width:575px) { width: 80%; border:none }
}
.smallBox:nth-child(2n+1) {
  border: solid 0.1rem red;
  // border: solid 0.1rem rgb(64,67,70);
  // border: solid 0.1rem rgb(159,155,172);
  background-color: rgb(36,39,46); 
  border-radius: 1rem;
  //col - border outline & 배경화면 제거
  @media (max-width:575px) { border:none ; background-color: inherit;}
}
.smallBox:nth-child(2n) {
  // border: solid 0.1rem rgb(131,137,143);
  border: solid 0.1rem rgb(121,113,139);
  background-color: rgb(30,33,38); 
  border-radius: 1rem;
  @media (max-width:575px) { border:none; background-color: inherit; }
}
//정렬방법
.A_rightBottom  {
  // 오른쪽 아래정렬
  display: flex;
  justify-content: end;
  align-items: end;
}
.boxCol2 {
  // 정렬
  display: flex;
  justify-content: start;
  align-items: end;
}
.A_rightCenter {
  // 세로 중앙 정렬
  display: flex;
  justify-content: right;
  align-items: center;
}
.A_centerBottom {
  // 세로 중앙 정렬
  display: flex;
  justify-content: center;
  align-items: end;
  //cols 일 경우 오른쪽 정렬
  @media (max-width:575px) { justify-content: end;  }
}
.A_center {
  // 세로 중앙 정렬
  display: flex;
  justify-content: center;
  align-items: center;
}
.A_right {
  justify-content: end;
  padding-right: 0;
}
.playText {
  width: 100%;
  @media (max-width:575px) { 
    width: 90%; 
    justify-content: end;
    //그림과 문장 배치
    margin-top: -4rem;
  }
}

//image
//imageBox 에 크기 지정->변경/ img 에는 %로 지정
.imgSize1 {  width: 50%; }
.imgBox2 {
  width: 14rem;
  height: 14rem;
  object-fit: contain;
  @media (max-width:575px) { width: 6rem; height: 6rem; text-align: end; }
  // @media (min-width:576px) and (max-width:767px) { width: 90%; height:90%;}
}  
.imgSize2 {
  width: 100%;
  height: 100%;
}
.imgBox3 {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  @media (max-width:575px) { 
    width: 15rem;
    height: 15rem;
  }
}  
.imgSize3 {
  @media (max-width:575px) { width: 70%; height: 70%;   }
  @media (min-width:576px) and (max-width:767px) { width: 47%; height: 47%;}
  @media (min-width:768px) and (max-width: 991px) { width: 50%; height: 50%; }
  @media (min-width:992px) and (max-width: 1199px) { width: 48%; height: 48%; }
  @media (min-width:1200px) { width: 40%; height: 40%; }
}
// #iframeSize {
//   width: 30rem;
//   height: 20rem;
//   object-fit: contain;
// }
#if {
  text-align: center;
  @media (max-width:575px) {   }
  @media (min-width:576px) and (max-width:767px) { width: 70%; height: 22vh}
  @media (min-width:768px) and (max-width: 991px) { width: 80%; height: 27vh; }
  @media (min-width:992px) and (max-width: 1199px) { width: 80%; height: 30vh; }
  @media (min-width:1200px) { width: 70%; height: 32vh; }
}