$bg_nav: rgb(28, 28, 28);
$bg: rgb(21,25,36);
$a: rgb(254,254,254);
$a_active: rgb(41,125,255);
$a_hover: rgb(159,155,172);
$title: 1.5rem;
$subTitle: 1.3rem;
$contents: 1.1rem;;
$a_font:1.6rem;
$web_font:1.5rem;
$active_font:1.7rem;
$hover_before: 1.2rem;
$hover_font: 1.3rem;
$t1: rgb(255,255,255);
$t2: rgb(0,91,235);
$bgBtn:rgb(89,87,93);

//image sizing
.imgSize100 {
  // width: 50vw;
  width: 100%;
}
.imgSize80 {
  width: 80%;
}
.imgSize60 {
  width: 60%;
}
.imgSize40 {
  width: 40%;
}
//원본
//이미지의 크기가 동일
.piconBox {
  width: 10%;
  // height:5vh;
}
// .wiconBox {
//   width: 7vw;
// }
// 전체 layout에서 제어
.box {
}
// .box:nth-child(odd) {
//   // background-color: rgb(36,39,46); 
//   background-color: rgb(53,56,59); 
// }
// .box:nth-child(even) {
//   background-color: rgb(89,87,93); 
// }

//image
//imageBox 에 크기 지정->변경/ img 에는 %로 지정
//titleBox의 font size & color
.titleBox {
  font-size: 2.2rem;
  font-weight: bolder;
  color: $a;
  padding: 1rem;
  border: solid 0.2rem rgb(111, 233, 186);
}
.imgBox {
  border: solid 0.2rem wheat;
}
.pointerbox {
  border: solid 0.2rem rgb(240, 141, 101);
}
// .footBox {
//   border: solid 0.2rem rgb(240, 141, 101);
//   padding: 2rem;
//   margin-bottom: 3rem;
// }
//icon 아래 글 간격띄우기
// .pBox {
//   padding-top: 0.3rem;
// }
//전역에서만 적용가능
.modal-body {
  background-color: mintcream;
}

// .stitle {
//   font-size: 2rem;
// }
// .footFont {
//   font-size: 1rem;
//   color: $a;
// }
 //a css
a {
  text-decoration-line: none;
  color: $a;
  font-weight: bold;
  font-size: $hover_before;
 
  &:hover {
    color: $a_hover ;
    font-size: $hover_font;
    // text-shadow: 0.1rem 0.1rem $a; 
    text-shadow: 0.2rem 0.2rem black; 
    // text-shadow: 0.2rem 0.2rem rgb(89,87,93); 
  }
}  

 