$bg_nav: rgb(28, 28, 28);
$bg: rgb(21,25,36);
$a: rgb(254,254,254);
$a_activeLine: rgb(26,52,102);
$a_active: rgb(42,126,255);
$a_hover: rgb(159,155,172);
$a_font:1.7rem;
$a_active_font:1.8rem;
$bgBtn:rgb(47,47,51);
$bgBtn_hover:rgb(74,74,74);
$serviceBtn_font:1.9rem;
$serviceBtn_hover_font:2.1rem;
$serviceBtn:rgb(74,74,74);
$cardBody:rgb(71,71,71);
$sideBar:rgb(74,74,74);
$t1: rgb(255,255,255);

$hover_before: 1.2rem;
$hover_font: 1.3rem;
$t2: rgb(0,91,235);


//
.box {
  width: 100vw;
  margin: 0;
  padding: 0;
}
//image sizing
.imgSize100 {
  width: 100vw;
  // height: calc(100vh - #{nav} - #{logoBox});
  @media (min-width:1400px) {
    width: 90vw;
  }
}

.alignC {
  display: flex;
  justify-content: space-around;
}
//a 
// a {
//   text-decoration-line: none;
//   color: $a;
//   font-weight: bold;
//   font-size: $hover_before;
 
//   &:hover {
//     color: $a_hover ;
//     font-size: $hover_font;
//     // text-shadow: 0.1rem 0.1rem $a; 
//     text-shadow: 0.2rem 0.2rem black; 
//     // text-shadow: 0.2rem 0.2rem rgb(89,87,93); 
//   }
// }  

