//icon sizing
.iconSize1 {
  width: 10rem;
}
.iconSize2 {
  width: 10rem;
}
.iconSize3 {
  width: 13rem;
  @media (max-width:575px) { width: 8rem }  
}
.iconSize4 {
  width: 10rem;
  @media (max-width:575px) { width: 8rem }  
}
//icon location
.outer {
  position: relative;
}  
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.innerB {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate( -60%, -50%);
}
.innerD {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate( -60%, -50%);
}
.innerC {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, 0%);
}
.iconBox1,.iconBox2, .iconBox3{
  // width: 20%;
  margin: 0 0 0 auto;
  overflow: hidden;
  transition: all 0.5s linear 
}
.iconBox1:hover {
  // transform: translateX( -6rem ) scale(1.1);
  opacity: 0.4;
  // -moz-box-shadow: 0 0 10px #ccc;
  // -webkit-box-shadow: 0 0 10px #ccc;
  // box-shadow: 0 0 10px #ccc;
}
.iconBox2:hover {
  opacity: 0.4;
  transform: rotateY( 45deg )
}
.iconBox3:hover {
  opacity: 0.2;
  transform: rotateY( 45deg )
}

