@media (max-width:575px) { 
  html { font-size: 61%;}
}  
@media (min-width:576px) and (max-width:767px ) { 
  html { font-size: 70%;}
}  
@media (min-width:768px) and (max-width:991px ) { 
  html { font-size: 74%;}
}  
@media (min-width:992px) and (max-width:1119px ) { 
  html { font-size: 90%;}
}  
@media (min-width:1200px) { 
  html { font-size: 100%;}
}  