@media (max-width:575px) { 
  .imgSize2 {  width: 6rem;  height: 6rem }
  #wontop1  {  padding:0 !important;  }
  #onlyM    { text-align: left !important;}
  #imgW2    {  margin-top: -4rem; }
  #wontImg3 { width: 5rem;}

  // #playContents { padding-top: 5rem;}
}