//modal
  @media (min-width:992px) { 
    .modal-lg { 
      max-width: auto !important;
    }
  }  
  @media (max-width:575px) { 
    modal-dialog { 
      max-width: auto !important;
    }
  }  
  //전체 layout
  .box {
    border: solid 0.3rem red;
    @media (max-width:575px) { 
      border-radius: none;  
      margin: 1rem 1.5rem;
      padding:1rem;
    }
    @media (min-width:576px)  { 
      border-radius: 1rem;
      margin: 1rem 4rem;
      padding: 0 4rem 0 4rem;
    }
  }

  //nav align
  #nav {
    @media (max-width:575px) { 
      
    }
    @media (min-width:576px)  { 
      display: flex;
      justify-content: space-around;
    }
  }
  //icon size
  .hoverBox1 {
      @media (max-width:575px) { text-align: center;  }
      @media (min-width:576px)  { text-align: end;}
      // @media (min-width:768px) and (max-width: 991px) {  }
      // @media (min-width:992px) and (max-width: 1199px) { }
      // @media (min-width:1200px) {  }
  }

